<template lang='pug'>
    section.content-view
        .content-view__giphs-detail
            router-link(to="/" class="content-view__giphs-detail__link") Home
            .content-view__giphs-detail__container(v-if='Object.keys(giphInfo).length > 0')
                p.content-view__giphs-detail__container__text {{giphInfo.title}}
                img.content-view__giphs-detail__container__img(:src='giphInfo.images.downsized_large.url')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import service from '@/service'

@Component
export default class Giph extends Vue {
  giphInfo:Object = {}
  async init () {
    let id = this.$route.params.id
    if (id) {
      let giphDataInfo = await service.link('giph', id)
      this.giphInfo = giphDataInfo.data.data
    } else {
      this.$router.push({ name: 'home' })
    }
  }
  mounted () {
    this.init()
  }
}
</script>
