<template lang='pug'>
    section.content-view
        .content-view__giphs-container
            .content-view__giphs-container__search
                input.content-view__giphs-container__search__input(v-model='searching', @input='onChange' , @focus='onChange', placeholder='Write your name gifs', type='text')
                ul.content-view__giphs-container__search__options-list(v-if='listGiphs.length>0 && isOpen')
                    li.content-view__giphs-container__search__options-list__option(v-for='result,index in listGiphs', :key='index')
                        p.content-view__giphs-container__search__options-list__option__text(@click='setResult(result)') {{result.title}}
            .content-view__giphs-container__result
                ul.content-view__giphs-container__result__list(v-if='listGiphs.length>0')
                    li.content-view__giphs-container__result__list__giph(v-for='giph in listGiphs' :key='giph.id', v-if="giph.type === 'gif'")
                        giph-element(:giphe='giph')
            .content-view__giphs-container__loader(v-if='isLoading')
                img.content-view__giphs-container__loader__img(src='https://media.giphy.com/media/uyCJt0OOhJBiE/giphy.gif')

            .content-view__giphs-container__not-results(v-if='listGiphs.length == 0 && !isLoading')
                p.content-view__giphs-container__not-results__text No GIFs found for {{searching}}
            .content-view__giphs-container__more-button(v-if='pagination > listGiphs.length && listGiphs.length > 1 ')
                button.content-view__giphs-container__more-button__button(@click='nextGiphs()') More
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import service from '@/service'
import giphElement from '@/components/GiphElement.vue'

@Component({
  components: {
    giphElement
  }
})
export default class Home extends Vue {
  listGiphs:any = [];
  uniqueGiph:Object|any = {};
  searching:string = '';
  isOpen:Boolean = false;
  isLoading:Boolean = false;
  nextPage:number = 20;
  pagination:number = 20;
  numGiphs:number = 20;
  async onChange () {
    let app = this
    app.isOpen = true
    let dataListGiphs = await service.link('searcher_limit', app.searching, app.numGiphs)
    this.$router.push({ params: { id: app.searching } })
    this.listGiphs = dataListGiphs.data.data
  }
  async setResult (rest:Object|any) {
    this.isLoading = true
    this.listGiphs = this.listGiphs.filter((e:any) => e.id === rest.id)
    this.isOpen = this.isLoading = false
  }
  async init () {
    let app = this
    this.isLoading = true
    let lastSearch = this.$route.params.id
    let dataListGiphs:any = []
    if (lastSearch) {
      dataListGiphs = await service.link('searcher_limit', lastSearch, app.numGiphs)
    } else {
      dataListGiphs = await service.link('trending', app.numGiphs)
    }
    this.listGiphs = dataListGiphs.data.data
    this.pagination = dataListGiphs.data.pagination.total_count
    this.isLoading = false
  }
  async nextGiphs () {
    if (this.pagination < this.nextPage) {
      return
    }
    let lastSearch = this.$route.params.id
    let dataListGiphs:any = []
    if (lastSearch) {
      dataListGiphs = await service.link('searcher_update', lastSearch, this.nextPage)
    } else {
      dataListGiphs = await service.link('trending_update', this.nextPage)
    }
    this.listGiphs = this.listGiphs.concat(dataListGiphs.data.data)
    this.nextPage += this.numGiphs
  }
  mounted () {
    this.init()
    let app = this
  }
}
</script>
