.content-view__giphs-container{
    position: relative;
    &__search{
        margin: 0 auto;
        padding: 0 0 1em;
        position: relative;
        text-align: center;
        width: 400px;
        &__input{
            font-size: 1em;
            border: none;
            font-family: cursive;
            @include border-radius( 2px);
            outline: none;
            padding: 9px 10px;
            width: 100%;
        }
        &__options-list{
            list-style: none;
            position: absolute;
            margin: 0;
            padding: 0;
            z-index: 2;
            top: 36px;
            left: 0;
            width: inherit;
            @include display-flex();
            @include flex-direction(column);
            background-color: #f0f0f0;
            max-height: 46vh;
            overflow: auto;
            @include box-shadow(0px 4px 6px #808080);
            @include border-radius( 0 0 4px 4px);
            &__option{
                transition: all 0.2s;
                &:hover, &:focus{
                    background-color: #d7d8d8;
                    outline: none;
                }
                &__text{
                    margin: 0;
                    padding: 5px;
                    font-family: cursive;
                    color: #444;
                    cursor: pointer;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
    &__result{
        &__list{
            list-style: none;
            padding: 0;
            margin: 0;
            @include display-flex();
            flex-wrap: wrap;
            &__giph{
                @include display-flex();
                @include flex(0 1 99%);
                @include justify-content(center);
                @include align-items(center);
                max-width: 99%;
                margin-bottom: 2em;
                overflow: hidden;
            }
        }
    }
    &__loader{
        position: absolute;
        top: 58px;
        z-index: 9;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 167, 220, 0.34);
        text-align: center;
        &__img{
            width: 81px;
            margin-top: 2em;
        }
    }
    &__not-results{
        &__text{
    
        }
    }
    &__more-button{
        &__button{
    
        }
    }
}

@media (min-width:768px){
    .content-view__giphs-container{
        &__result{
            &__list{
                &__giph{
                    @include flex(0 1 50%);
                    max-width: 50%;
                }
            }
        }
    }
}

@media (min-width:992px){
    .content-view__giphs-container{
        &__result{
            &__list{
                &__giph{
                    @include flex(0 1 33%);
                    max-width: 33%;
                }
            }
        }
    }
}

@media (min-width:1200px){
    .content-view__giphs-container{
        &__result{
            &__list{
                &__giph{
                    @include flex(0 1 25%);
                    max-width: 25%;
                }
            }
        }
    }
}