<template lang='pug'>
    .giph-element(v-if='giphe')
        router-link(:to="{ name: 'giph', params: {id: giphe.id} }" class='giph-element__link')
            span.giph-element__link__title {{giphe.title}}
            img.giph-element__link__img(:src='giphe.images.downsized_large.url')

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import service from '@/service'

@Component({
  props: ['giphe']
})
export default class GiphElement extends Vue {
}
</script>
