<template lang='pug'>
    .language-container
        button.language-container__button-toggle(@click='toggleModal()') {{$store.state.language}}
        ul.language-container__languages-list(v-if='openModal')
            li.language-container__languages-list__lang(v-for='lang in $store.state.languages')
                button.language-container__languages-list__lang__btn-change(@click='changeLang(lang.key)') {{lang.Desc}}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import service from '@/service'
import store from '@/store'

@Component
export default class lang extends Vue {
  openModal = false
  changeLang (lan:any) {
    this.$store.commit('CHANGE_LANG', lan)
    this.openModal = false
  }
  toggleModal () {
    this.openModal = !this.openModal
  }
}
</script>
