//End Animations
@mixin animation($animation){
    -webkit-animation :$animation;
    -moz-animation:$animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin border-radius($value){
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    border-radius: $value;
}

@mixin box-shadow($top, $left:'', $blur:'', $color:'', $inset: '') {
    -webkit-box-shadow: #{$inset} $top #{$left} #{$blur} #{$color};
    -moz-box-shadow: #{$inset} $top #{$left} #{$blur} #{$color};
    box-shadow: #{$inset} $top #{$left} #{$blur} #{$color};
}

@mixin box-sizing($val){
    -webkit-box-sizing: $val;
    -moz-box-sizing: $val;
    box-sizing: $val;
}

@mixin gradient-background( $degrees, $first-color, $first-color-position, $second-color, $second-color-position, $third-color: none, $third-color-position: none, $fourth-color: none, $fourth-color-position: none){
    background: $first-color;
    @if($third-color == none){
        background: -moz-linear-gradient(#{$degrees}, #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: -webkit-gradient(#{$degrees}, #{$degrees}, color-stop( #{$first-color-position}, #{$first-color}), color-stop($second-color-position, $second-color));
        background: -webkit-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: -o-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: -ms-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
        background: linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position});
    }@else if($fourth-color == none){
        background: -moz-linear-gradient(#{$degrees}, #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: -webkit-gradient(#{$degrees}, #{$degrees}, color-stop( #{$first-color-position}, #{$first-color}), color-stop($second-color-position, $second-color), color-stop($third-color-position, $third-color));
        background: -webkit-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: -o-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: -ms-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
        background: linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position});
    }@else{
        background: -moz-linear-gradient(#{$degrees}, #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: -webkit-gradient(#{$degrees}, #{$degrees}, color-stop( #{$first-color-position}, #{$first-color}), color-stop($second-color-position, $second-color), color-stop($third-color-position, $third-color), color-stop($fourth-color-position, $fourth-color));
        background: -webkit-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: -o-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: -ms-linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
        background: linear-gradient(#{$degrees},  #{$first-color} #{$first-color-position}, #{$second-color} #{$second-color-position}, #{$third-color} #{$third-color-position}, #{$fourth-color} #{$fourth-color-position});
    }
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$first-color}, endColorstr= #{$second-color}, GradientType=0 );
}

@mixin touch-action($val){
    -ms-touch-action: $val;
    touch-action: $val;
}

@mixin transform($transform, $transformB:'', $transformC:'', $transformD:''){
    -webkit-transform: $transform #{$transformB} $transformC $transformD;
    -moz-transform: $transform #{$transformB} #{$transformC} #{$transformD};
    -ms-transform: $transform #{$transformB} #{$transformC} #{$transformD};
    -o-transform: $transform #{$transformB} #{$transformC} #{$transformD};
    transform: $transform #{$transformB} #{$transformC} #{$transformD};
}

@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin backface-visibility($val){
    backface-visibility: $val;
    -webkit-backface-visibility: $val;
    -moz-backface-visibility: $val;
    -ms-backface-visibility: $val;
}


//FLEX
@mixin align-items($val){
    -webkit-align-items: $val;
    align-items: $val;
}

@mixin align-self($align) {
    -webkit-align-self: $align;
    -moz-align-self: $align;
    -ms-align-self: $align;
    align-self: $align;
}

@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
  
@mixin flex($val) {
    -webkit-box-flex: $val;
    -moz-box-flex:  $val;
    -webkit-flex:  $val;
    -ms-flex:  $val;
    flex:  $val;
}

@mixin flex-direction($val){
    -webkit-box-direction: $val;
    -moz-box-direction: $val;
    -webkit-flex-direction: $val;
    -ms-flex-direction: $val;
    flex-direction: $val;
}

@mixin flex-flow($val){
    -webkit-flex-flow: $val;
    flex-flow: $val;
}

@mixin flex-wrap($val){
    -webkit-flex-wrap: $val;
    flex-wrap: $val;
}

@mixin justify-content($val){
    -webkit-justify-content: $val;
    justify-content: $val;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}
//End Flex


//Animations
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes shown {  
    0% { @include transform(scale(0.2)) }
    100% { @include transform(scale(1)) }
}

@keyframes shake {
    20%{
        opacity: 0;
    }
    10%, 90% {
        @include transform(translate3d(-1px, 0, 0));
        opacity: 0.6;
    }
    
    20%, 80% {
        @include transform(translate3d(2px, 0, 0));
        opacity: 0.9;
    }
  
    30%, 50%, 70% {
        @include transform(translate3d(-2px, 0, 0));
        opacity: 0.9;
    }
  
    40%, 60% {
        @include transform(translate3d(2px, 0, 0));
        opacity: 0.6;
    }
}

@keyframes hidshowleft {
    0%{
        opacity: 1;
        @include transform(translateX(0px))
    }
    50%{
        opacity: 0;
        @include transform(translateX(-100px))
        
    }
    100%{
        opacity: 1;
        @include transform(translateX(0px))

    }
}
@keyframes hidshowleftT {
    0%{
        opacity: 1;
        @include transform(translateX(0px))
    }
    50%{
        opacity: 0;
        @include transform(translateX(-100px))
        
    }
    100%{
        opacity: 1;
        @include transform(translateX(0px))

    }
}