@import url('~@/../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import './common/_common-base.scss';
@import './component/_component-base.scss';
@import './views/_views-base.scss';

html, body, #app, .view{
    height: auto;
    margin: 0;
    min-height: 100%;
}
body{
    background: linear-gradient(0deg,#eae0b9,#1fc8db 51%,#1fc8db 75%,#1ba7dc 90%);
}

* {
    box-sizing: border-box;
}
