<template lang='pug'>
  #app
    lang
    router-view.view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Lang from '@/components/Lang.vue'

@Component({
  components: {
    Lang
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import 'assets/styles/scss/base.scss';
</style>
