.giph-element{
    width: 95%;
    &__link{
        @include display-flex();
        @include flex-direction(column);
        @include align-items(center);
        @include border-radius(5px);
        overflow: hidden;
        text-decoration: none;
        @include box-shadow(1px 1px 6px #888);
        &__title{
            color: #175452;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 2em;
            overflow: hidden;
            z-index: 1;
            background-color: #119d9e;
            width: 100%;
            display: block;
            font-family: cursive;
            text-align: center;
        }
        &__img{
            max-height: 192px;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            text-decoration: none;
            transform: scale(1);
        }
        &:hover, &:focus{
            .giph-element__link__img{
                transform: scale(1.3);
            }
        }
    }
}